#cloud-config
locale: en_GB
timezone: Europe/London
users:
  - name: ansible
    groups: sudo, adm
    shell: /bin/bash
    lock_passwd: false
    passwd: $6$rounds=4096$W9fcIpq.Zu0xiTWe$cJoYFTN/WWltuoQA7tniD/CjWkOB6J4z7cqYMYJTahg/uYRx.smGmDH2TaAg6/MoCyxx5uZYq7MBMtAiPHZLA/